innerbody {
    background-color: #222; /* Dark background for the inner body */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 95vh;
    background-image: linear-gradient(135deg, rgba(255, 0, 255, 0.1), rgba(0, 0, 255, 0.1)); /* Gradient veil */
    background-blend-mode: overlay; /* Blend the gradient with the dark background */
}

.search-container {
    display: flex;
    align-items: center;
    background-color: #333; /* Darker background for the search container */
    border-radius: 50px;
    padding: 5px;
    width: 40px;
    transition: width 0.5s;
    overflow: hidden;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5); /* Adding shadow for depth */
}

.search-container:hover,
.search-container:focus-within {
    width: 250px; /* Expand on hover or focus */
}

.search-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background-color: var(--accent-color); /* Accent color for the search icon */
    border-radius: 50%;
    color: var(--text-color); /* Text color */
    cursor: pointer;
    z-index: 1;
    position: relative;
    transition: transform 0.5s;
}

.search-container:hover .search-icon,
.search-container:focus-within .search-icon {
    transform: translateX(200px); /* Move the search icon on hover or focus */
}

.search-input {
    opacity: 0; /* Hidden by default */
    background-color: transparent; /* Transparent background */
    border: none; /* No border */
    outline: none; /* No outline */
    color: #fff; /* Text color */
    padding: 0 10px;
    font-size: 16px;
    position: absolute;
    width: 0; /* Initial width */
    transition: opacity 0.5s, width 0.5s; /* Transition effects */
}

.search-container:hover .search-input,
.search-container:focus-within .search-input {
    opacity: 1; /* Make visible */
    width: 13%; /* Set width */
}

.search-form {
    display: flex;
    align-items: center; /* Center align items */
}
